<div class="list-view" ng-class="{'showing-card-add':addCard}">
  <div class="board-list-header" as-sortable-item-handle>
    <label class="item item-input plain">
      <input ng-model="list.name" type="text" />
    </label>
  </div>
  <ion-scroll direction="y" scrollbar-x="false" scrollbar-y="true"
    delegate-handle="{{'list'+list.id}}"
    on-drag-left="dragListHorizontal($event)" on-drag-right="dragListHorizontal($event)"
    class="board-list-cards">
    <div class="board-list-cards-sortable" as-sortable="cardSortOptions" ng-model="list.childNodes">
      <div class="board-card"
           ng-repeat="card in list.childNodes"
           as-sortable-item
           ng-include="'views/partials/card.html'">
      </div>
    </div>
  </ion-scroll>
  <div class="board-list-footer last-child">
    <div ng-show="!addCard" ng-click="addCard=true; focusNewCardInput($event)">Add a Card</div>
    <div ng-show="addCard" class="add-new-card">
      <label class="item item-input">
        <input ng-model="newCard.name" type="text" ng-blur="addCard=false; newCard=null;" />
      </label>
      <div class="btn-group add-new-card-control" ng-click="addCard=false; newCard=null;">
        <button class="button button-positive" ng-click="addNewCard('todo',newCard,list)">To Do</button>
        <button class="button button-calm" ng-click="addNewCard('entry',newCard,list)">Entry</button>
        <button class="button button-light">X</button>
      </div>
    </div>
  </div>
</div>
