<ion-view view-title="{{name}}" class="slide-left-right">
  <ion-content
  ng-controller="BoardController"
  scrollbar-x="true" scrollbar-y="false" direction="x" delegate-handle="board"
  on-swipe-left="swipeToNextList(false)" on-swipe-right="swipeToNextList(true)"
  ng-model="board">
    <div k-drag-scroll-item class="board-lists row" ng-style="boardScrollStyle"
    as-sortable="listSortOptions" ng-model="board.childNodes">
      <div as-sortable-item
          class="list-view-outer"
          ng-repeat="list in board.childNodes"
          ng-include="'views/partials/list.html'"
          ng-style="listStyle"
          data-columnindex="{{$index}}">
      </div>
    </div>
  </ion-content>
</ion-view>
