.scroll, .board-lists, .list-view-outer, .list-view {
  height:100%;
}
.list-view-outer {
  float: left;
  margin:0;
  background:none;
  border:none;
}
.list-view {
  margin: 0px 8px;
  position: relative;
  min-height: 20px;
  border-radius: 5px;
}
.board-list-header {
  border-radius: 5px 5px 0 0;
  /*padding: 8px;*/
  color: #FFF;
  font-weight: bold;
  font-size: 1.1em;
  background: rgb(9,109,163);
  background: -moz-linear-gradient(top, rgba(9,109,163,1) 0%, rgba(1,137,190,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,109,163,1)), color-stop(100%,rgba(1,137,190,1)));
  background: -webkit-linear-gradient(top, rgba(9,109,163,1) 0%,rgba(1,137,190,1) 100%);
  background: -o-linear-gradient(top, rgba(9,109,163,1) 0%,rgba(1,137,190,1) 100%);
  background: -ms-linear-gradient(top, rgba(9,109,163,1) 0%,rgba(1,137,190,1) 100%);
  background: linear-gradient(to bottom, rgba(9,109,163,1) 0%,rgba(1,137,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#096da3', endColorstr='#0189be',GradientType=0);
  border-color: #428BCA;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.board-list-cards {
  max-height:85%; /* fallback */
  max-height:calc(100% - 96px);
  padding: 5px 5px 0 5px;
  border-width: 0 1px;
  overflow: hidden;
  clear: both;
}
.showing-card-add .board-list-cards {
  max-height:50%; /* fallback - keyboard open*/
  max-height:calc(100% - 150px);
}
.board-list-cards, .board-list-footer {
  background-color: #f2f2f2;
  border-color: #AAAAAA;
  border-style: solid;
}
.list-view .board-list-footer {
  border-radius: 0 0 5px 5px;
  border-width: 0 1px 1px;
  padding: 8px;
}

.board-lists.as-sortable-un-selectable, .as-sortable-dragging {
/* 	cursor: url(./resources/images/closedhand.cur), auto; */
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}

.board-card {
   padding: 8px;
   margin:0px;
}
.board-card:not(:last-child) {
   margin-bottom:6px;
}
.board-list-cards-sortable {
   min-height:20px;
}
.card-title {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    vertical-align: sub;
    /*display: block;*/
}
.as-sortable-item {
  /*margin:0px;*/
}
.as-sortable-item-handle {
  cursor:default;
}
.as-sortable-drag {
/* 	position: absolute; */
	opacity: 0.9;
	filter:alpha(opacity=90);
	transform: rotate(3deg);
	-ms-transform: rotate(3deg); /* IE 9 */
	-o-transform: rotate(3deg); /* Opera */
    -moz-transform: rotate(3deg); /* Firefox */
	-webkit-transform: rotate(3deg); /* Safari and Chrome */
	-webkit-backface-visibility: hidden;
	z-index:10000;
}
.removeCard {
    padding: 12px;
    color: #444;
}
.item-input.plain, .item-input.plain input {
  background-color:transparent;
  border:none;
  font:inherit;
  color:inherit;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.card-sort-handle .checkbox {
  padding: 0 7px 0 0;
  float:left;
}
.card-modal .title .checkbox {
  float:left;
  padding-left:4px;
}
.card-modal .card-name {
  padding-left:4px;
}
.card-modal .checkbox + .card-name {
  margin-left:40px;
}
.card-modal .card-name input {
  margin-top:-2px;
  line-height: 1.5em;
}
.btn-group>.button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.add-card .add-control {
  clear:both;
  overflow: hidden;
}
.add-card .add-control button {
  float:left;
  min-height: 30px;
  line-height: 36px;
}
.add-card input.new-card-name {
  width: 100%;
}
.add-card input.new-card-name:not(:focus){
  background-color: transparent;
  padding:0;
  margin:0;
  border:none;
}
.add-card input.new-card-name:focus{
  margin-bottom: 6px;
  border: 1px solid #AAAAAA;
  padding:6px 0px 5px 12px;
  height:44px;
  background-color: white;
}
.add-card input.new-card-name:not(:focus) + .add-control {
  display:none;
}
